/*
Colors Used

background ghost white: #F8F8FF
nav&footer white smoke: #F5F5F5
button color powder blue: #B0E0E6
*/
body {
  background-color: #F8F8FF;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}
nav {
  background-color: #F5F5F5;
}
h1 {
  font-size: 30px;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 700;
}
.profile_picture {
  width: 250px;
  float: left;
  margin-right: 40px;
}
a {
  color: #357b70;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: #05676e;
}
a:active {
  color: #489c79;
}
button {
  border: none;
  font-family: inherit;
  background-color: #B0E0E6;
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
button:hover, button:focus {
  cursor: pointer;
  opacity: 0.8;
}
footer {
  background-color: #F5F5F5;
}
.page-footer {
  clear: both;
}
